h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    margin: 20px;
    padding: auto;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 15px;
    padding: auto;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: auto;
    text-align: center;
}
h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 7px;
    margin: auto;
    padding: auto;
}
p{
    margin: auto;
    padding: auto;
}